
<div class="card-header">
  How Many Team Members Do You Want?
</div>

<div class="card-body">
  <br />
  <p> You Picked 3 members </p>
  <% @team_number.times do %>

  <div class="row">

    <div class="col-md-6">
      <% @avatar_url = Faker::Avatar.image(@rand_num, "300x300", "png", @sets.shuffle.first, @bgs.shuffle.first) %>
      <img src="<%= @avatar_url %>">
    </div>

    <div class="col-md-6">
        <h3>Superhero Name:</h3>
        <h5><%= Faker::Superhero.name %></h5>
        <h3>Superhero Power:</h3>
        <h5><%= Faker::Superhero.power.titleize %> </h5>
        <br />
        <h3>Day Job:</h3>
        <h5><%= Faker::Company.profession.titleize %> </h5>
        <h3>Job Power:</h3>
        <h5><%= Faker::Company.buzzword.titleize %> </h5>
        <!-- <h5> Avatar URL:  <%= @avatar_url %> </h5> -->
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </div>
  <% end %>

</div>
